[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.taichi.graphics/simple/"
verify_ssl = true
name = "pypitaichi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
taichi-nightly = {version = "*", index = "pypitaichi"}

[dev-packages]

[requires]
python_version = "3.11"
